:root {
  --app-max-width: 0;
  --app-visibility: hidden;
}

html {
  font-size: var(--base-font-size);
  color: var(--color-fg);
}

.App {
  text-align: center;
}

.bass {
  margin-left: auto;
  margin-right: auto;
  width: var(--app-max-width);
  visibility: var(--app-visibility);
  background-color: var(--color-bg);
  padding: 20px;
}

.drums {
  margin-left: auto;
  margin-right: auto;
  width: var(--app-max-width);
  visibility: var(--app-visibility);
  background-color: var(--color-orange);
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin-bottom: calc(var(--spacer) * 1);
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.App-title {
  font-size: 1.5em;
}

.app_content {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
  position: relative;
  transform: translateZ(0);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
