body {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: FF0066;
}
:root {
  --app-max-width: 0;
  --app-visibility: hidden;
}

html {
  font-size: var(--base-font-size);
  color: var(--color-fg);
}

.App {
  text-align: center;
}

.bass {
  margin-left: auto;
  margin-right: auto;
  width: var(--app-max-width);
  visibility: var(--app-visibility);
  background-color: var(--color-bg);
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: FF0066;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin-bottom: calc(var(--spacer) * 1);
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.App-title {
  font-size: 1.5em;
}

.app_content {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
  position: relative;
  transform: translateZ(0);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle {
    position: center;
    width: 50vh;
    height: 50vh;
    background: linear-gradient(#4c4545, #ff0066);
    border-radius: 500px;
    animation: animate 10s normal infinite;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.circle:after {
    content: '';
    position: absolute;
    top: 170px;
    right: 170px;
    bottom: 170px;
    right: 170px;
    border-radius: 500px;
    background-color: orange;
}

.circle span {
    osition: absolute;
    width: 20%;
    height: 20%;
    background: linear-gradient(#738188, #0800ff);
    border-radius: 500%;
}

.circle span:nth-child(1) {
    filter: blur(5px);
}

.circle span:nth-child(2) {
    filter: blur(10px);
}

.circle span:nth-child(3) {
    filter: blur(20px);
}

.circle span:nth-child(4) {
    filter: blur(55px);
}



